html, body, ul, ol, dd, dl {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    cursor: default;
    text-decoration: none;
    color: #999999;
}

input, button {
    outline: none;
}
